{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": true
  },
  "jsc": {
    "target": "esnext",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true
    },
    "preserveAllComments": false,
    "baseUrl": "./",
    "paths": {
      "~/*": ["src/*"]
    },
    "minify": {
      "mangle": true,
      "compress": true
    }
  },
  "minify": true
}
